.page-print {margin-left:auto;
margin-right:auto;
width:960px;}
.page-print .data-table td {
border:1px solid #F2C3DE;
padding:5px;
}
.page-print .data-table th {
border:1px solid #F2C3DE;
font-weight:bold;
padding:5px;
white-space:nowrap;
}
.form-button, .form-button-alt {
-moz-background-inline-policy:continuous;
background:none repeat scroll 0 0 #333333;
border:1px solid #000000;
color:#FFFFFF;
cursor:pointer;
font:bold 12px arial,sans-serif !important;
overflow:visible;
padding:1px 8px;
text-align:center;
vertical-align:middle;
width:auto;
}

.col2-set .col-1 {float:left;}
.col2-set .col-2 {float:right;}
.col2-set .col-1,.col2-set .col-2 { width:48.5%;}
#main{
min-height:400px;
background-color:#FFFFFF;
overflow:hidden;
}
#main_1{
/*background-color:#666;*/
overflow:hidden;
}
#main_1 p{
/*height:505px;*/
}
.layered-nav{
padding-left:15px;
padding-right:15px;
}
#narrow-by-list{
padding-top:5px;
}

#narrow-by-list a{
padding-top:5px;
line-height:19px;
}

#thumbnailsSpill {
float:left;
padding-bottom:10px;

}

#content #categoryDescription div.theme .txtCategoryThemeDescription {
color:#666666;
font-family:Arial,sans-serif;
font-size:14px;
margin:10px;
margin-top:0px;
}

.thumbnailSpillLarge span, .thumbnailSpillSmall span, .related span {
color:#4D4D4D;
display:block;
font-family:Arial,sans-serif;
font-size:11px;
margin:0;
padding:0;
text-decoration:none;
width:100%;

}
.thumbnailSpillSmall span {
font-size:10px;
}
.thumbnailSpillLarge span.salePrice {
color:#BF311A;
}
.thumbnailSpillSmall span.salePrice {
color:#BF311A;
}
.thumbnailSpillLarge span {
width:214px;
}
.thumbnailSpillSmall span {
width:122px;
}
.related span {
float:left;
width:145px;
}
.thumbnailSpillLarge a:hover span, .thumbnailSpillLarge a:hover, .thumbnailSpillSmall a:hover span, .thumbnailSpillSmall a:hover, .related a:hover, .related a:hover span {
background-color:#EAEAEA;
text-decoration:none;
}
.thumbnailSpillLarge span.sale, .thumbnailSpillSmall span.sale, .related span.sale, .warning a, .warning {
color:#BF311A;
}
.thumbnailSpillLarge span.price, .thumbnailSpillSmall span.price, .related span.price {
color:#D23A58;
font-size:12px;
font-weight:normal;
}
.thumbnailSpillLarge span.price-label, .thumbnailSpillSmall span.price-label, .related span.price-label {
font-size:11px;
font-weight:bold;
}
.thumbnailSpillLarge span em, .thumbnailSpillSmall span em, .related span em {
color:#000000;
font-style:normal;
}

.thumbnailSpillLarge img {
margin:15px;
}

.thumbnailSpillLarge a, .thumbnailSpillLarge a:link, .thumbnailSpillLarge a:active, .thumbnailSpillLarge a:visited {
cursor:pointer;
display:block;
margin:0;
overflow:hidden;
padding:0 5px 10px;
text-decoration:none;
height:260px;
*height:270px;
}

.thumbnailSpillLarge span {
width:214px;
}

.thumbnailSpillLarge span, .thumbnailSpillSmall span, .related span {
color:#4D4D4D;
display:block;
font-family:Arial,sans-serif;
font-size:12px;
margin:0;
padding:0;
text-decoration:none;
width:100%;
font-weight:normal;
line-height:17px;
}

#thumbnailsSpill .first, .related.first {
clear:both;
}

.thumbnailSpillLarge {
margin:0 13px 0 0;
}

.thumbnailSpillLarge, .thumbnailSpillSmall, .related {
display:block;
margin:0 5px 10px 0;
position:relative;
text-align:center;
}

form{ margin: 0 0 5px 0}

input {
	color: #666;
	font-family: Arial,sans-serif;
	font-size: 12px;	
}
#header .searchbox {
	color: #666;
	font-size:12px;
	padding:9px 45px 5px 10px;
	background:transparent url(../images/search_bg.png) no-repeat top left;
	width:235px;
	height:31px;
	border:none;	
	margin-top:8px;
}

.text {
	border: 1px solid #666;
	height:20px;
	font-size:12px;
}

.required input,
.required select,
.required textarea,
.required .checkbox,
#internationalSkus input{
	border: 1px solid #666;
	width:190px;
	
}

.error input,
.error select,
.error textarea {
	border: 1px solid #bf311a !important;
	
}

.phone {
	width: 200px;
	margin-left: 20px;
}

.phone.required,
.phone.error {
	margin-left:0
}


.phone.error {margin-left:20px}

.phone.required.error {margin-left:0}

.phone3 {width: 30px;}

.phone4 {width: 50px;}

.required {
	margin-left: 0;
	border: 0;
	color:#ff0000;
}
p.required {
font-size:10px;
text-align:right;
}

.required .phone3,
.required .phone4 {
	border: 1px solid #666;
}

.phone.error .phone3,
.phone.error .phone4 {
	/*border: 1px solid #bf311a;*/
}

.zip {
	width: 100px;
}
.promoCode {
	width: 150px;
}
.formFull {
	width: 415px;
	margin-left: 20px;
}

.formHalf {
	width: 190px;
}

.formState {
	width: 90px;
}

.required .formFull {
	margin-left: 0;
}

textarea {
	color: #666;
	font-family: Arial,sans-serif;
	font-size: 9px;
	width: 200px;
	height: 100px;
	border: 1px solid #666;
	padding: 3px;
	/*margin-left: 20px;*/
}

.required textarea {
	margin-left: 0;
}

select {
	/*border: 1px solid #666;*/
	color: #666;
	font-family: Arial,sans-serif;
	font-size: 12px;
	padding: 3px;
}

/*label {
	display: block;
	color: #666;
	font-family: Arial,sans-serif;
	font-size: 9px;
	font-weight: bold;
	margin: 10px 0 0 20px;
}*/
.customerFeedback .input {
	border:1px solid #666;
} 
.customerFeedback label {
	margin:10px 0 0 0;
} 
.customerFeedback label.textarea {
	margin:10px 0 0 20px;
} 
.customerFeedback textarea {
	width:330px;
	height:108px;
} 
.customerFeedback table tr th {
	background:#efefef;
	height:20px;
	padding:4px;
	text-align:center;
}
.customerFeedback table tr td {
	padding:4px;
	width:58px;
	text-align:center;
}
.customerFeedback table tr td.question {
	width:260px;
	text-align:left;
}
.customerFeedback table tr td.question div {
	text-indent:-18px;
	padding:0 0 0 18px;
}
.customerFeedback table.feedback tr td {
	width:200px;
	text-align:left;
	padding:0;
}
.error table tr td input,
.error #surveyOptIn input {
	border:0 none !important;
}
.error table.feedback tr td input {
	border:1px solid #BF311A !important;
}
#surveyOptIn input,
#surveyOptIn label {
	float:left;
	clear:none;
	width:auto;
	margin:10px 0 0 0;
}
#surveyOptIn label {
	margin:10px 0 0 4px;
}
.nr {
	margin: 10px 0 0 0;  
}

span.asterisk {
	display: block;
	position: relative;
	float: left;
	width: 20px;
	height: 20px;
	border: 0;
}

span.asteriskSpacer {
	display: block;
	position: relative;
	float: left;
	clear:left;
	width: 20px;
	height: 20px;
	border: 0;
}

.required span.asterisk {
	background: url('../images/icons/icon_star_required.gif') 50% 50% no-repeat;
}

.error span.asterisk {
	background: url('../images/icons/icon_star_error.gif') 50% 50% no-repeat;
}

.error label {
	/*color: #bf311a;
	border: 0;*/
}

form .third {
	margin-top: 0;
	position: relative;
}

/* Validation! */

.validation /* move me */ {
	padding: 5px;
}

.validation.error, .error .validation {
	border: 1px solid #bf311a; 
	background-color: #fef1ec; 
	color: #bf311a;
}

.validation.error a {
	color: #bf311a;
}

.validation.error a:hover {
	text-decoration:none;
}

.validation.success {
	border:0 none; 
	background: #E7F3F5;
	color: #363636;
}

.hidden {
	display: none !important;	
}

.formFifth {
	width:80px;	
}

.qty {
	width: 	30px;
}

input.checkbox {
	float:left;
	padding: 0;
	margin: 10px 10px 0 15px;
	display: inline;
	width: 10px;
	height: 10px;
	border: 1px solid #666;
}

input.checkbox.required {
	margin-left: 0;	
}

label.checkbox {
	float:left;
	clear:none;
	padding: 0;
	margin: 8px 0 0;
	display: block;
	width:410px;
}
.radio {
	padding: 0;	
	display: inline;
	width: 10px;
	height: 10px;
	border: 0 !important;
}

.radio.required {
	margin-left: 0;
	border: 0 !important;
}

form .state {
	float:left;
	display:inline;
	position:relative;
	margin:0;
	width:150px;
}

.formMI {
	width:40px;
}

.formAddress {
	width:310px;
}

#ZipCheckForm .zipCode {
	width:40px;
}

.txtZipCode {
	width:60px;
	margin:4px 0 0;
	padding:0;
	float:left;
	clear:none;
}

.shippingLocationText {
	font:normal 11px/14px Arial, sans-serif;
	width:100%;
	margin:0;
	padding:0;
}

/* == Account - Create */
.formContent .image img { float:none; }

#loginForm input.registrant,
#loginForm label.registrant {
	float:left;
	clear:none;
	width:auto;
}
#loginForm input.registrant {
	margin:6px 0 0 0;
	clear:both;
}
#loginForm label.registrant {
	margin:6px 0 0 10px;
}

/* Button Styles 
 * /css/buttons.css
 */
span.shopButton,
span.shopButton:link,
span.shopButton:active,
span.shopButton:visited,
span.shopButton:hover,
a.shopButton,
a.shopButton:link,
a.shopButton:active,
a.shopButton:visited,
a.shopButton:hover,
a.blueButton,
a.blueButton:link,
a.blueButton:active,
a.blueButton:visited,
a.blueButton:hover,
a.giftRegistryButton,
a.giftRegistryButton:link,
a.giftRegistryButton:active,
a.giftRegistryButton:visited,
a.giftRegistryButton:hover,
a.favoritesButton,
a.favorites:link,
a.favorites:active,
a.favorites:visited,
a.favorites:hover {
	height: 18px !important;
	line-height: 12px !important;
	color: #fff !important;
	font-size: 12px !important;
	padding-top: 0 !important;
	padding-left: 2px;
	padding-bottom: 0 !important;
	padding-right: 2px;
	position: relative;
	display: block;
	float: left;
	text-decoration: none;
	cursor: pointer;
	margin: 5px 5px 5px 10px; /* changed from margin: 15px 5px 5px 24px; -JRE */
}
span.shopButton,
span.shopButton:link,
span.shopButton:active,
span.shopButton:visited,
span.shopButton:hover,
a.shopButton,
a.shopButton:link,
a.shopButton:active,
a.shopButton:visited,
a.shopButton:hover {
	background-color: #AEC569 !important;
    font-style:  normal;
    font-weight: normal;
    text-decoration:none;	
}
#content p a.shopButton:hover {
    text-decoration:none;	
}

a.blueButton,
a.blueButton:link,
a.blueButton:active,
a.blueButton:visited,
a.blueButton:hover {
	background-color: #94cad8 !important;
	/*font-family: Snooze;*/
    font-style:  normal;
    font-weight: normal;	
}

a.giftRegistryButton,
a.giftRegistryButton:link,
a.giftRegistryButton:active,
a.giftRegistryButton:visited,
a.giftRegistryButton:hover {
	background-color: #97d0d8 !important;	
	/*font-family: Snooze;*/
    font-style:  normal;
    font-weight: normal;
}

a.favoritesButton,
a.favoritesButton:link,
a.favoritesButton:active,
a.favoritesButton:visited,
a.favoritesButton:hover {
	background-color: #fab63d !important;	
	/*font-family: Snooze;*/
    font-style:  normal;
    font-weight: normal;
}
span.shopButton,
a.shopButton span,
a.blueButton span,
a.giftRegistryButton span,
a.favoritesButton span {
	float:left;
	padding:0;
}
span.shopButton span.left,
a.shopButton span.left,
a.blueButton span.left,
a.giftRegistryButton span.left,
a.favoritesButton span.left {
	position: absolute;
	left:-15px;
	top: 0;
	height:18px;
	width:15px;
}
span.shopButton span.left,
a.shopButton span.left {
	background: url('../images/button_green_left.gif') top left no-repeat;
	width:4px;
	left:-4px;
}
#header span.shopButton span.left,
#header a.shopButton span.left {
	background: url('../images/button_green_left_BKG.gif') top left no-repeat;
}
a.shopButton.withCart span.left {
	background: url('../images/button_green_left.gif') top left no-repeat;
	width:4px;
	left:-4px;
}
a.blueButton span.left {
	background: url('../images/button_blue_left.gif') top left no-repeat;
	width:4px;
	left:-4px;
}
a.giftRegistryButton span.left {
	background: url('../images/button_gr_left.gif') top left no-repeat;
	width:4px;
	left:-4px;
}
a.favoritesButton span.left {
	background: url('../images/button_fav_left.gif') top left no-repeat;
	width:4px;
	left:-4px;
}
span.shopButton span.right,
a.shopButton span.right,
a.blueButton span.right,
a.giftRegistryButton span.right,
a.favoritesButton span.right {
	position: absolute;
	right:-4px;
	top: 0;
	height: 18px;
	width:4px;
}
span.shopButton span.right,
.shopButton span.right {
	background: url('../images/button_green_right.gif') top right no-repeat;
}
#header span.shopButton span.right,
#header a.shopButton span.right {
	background: url('../images/button_green_right_BKG.gif') top right no-repeat;
}
.blueButton span.right {
	background: url('../images/button_blue_right.gif') top right no-repeat;
}
.giftRegistryButton span.right {
	background: url('../images/button_gr_right.gif') top right no-repeat;
}
.favoritesButton span.right {
	background: url('../images/button_fav_right.gif') top right no-repeat;
}
.withArrow {
	padding-right: 18px !important;
}
.withBackArrow {
	padding-left: 18px !important;	
}
.shopButton.withArrow {
	background: url('../images/Button_Arrow_Forward_Green.gif') no-repeat right 0;	
}
.blueButton.withArrow{
	background: url('../images/Button_Arrow_Forward_Blue.gif') no-repeat right 0;
}
.giftRegistryButton.withArrow {
	background: url('../images/Button_Arrow_Forward_gr.gif') no-repeat right 0;	
}
.favoritesButton.withArrow {
	background: url('../images/Button_Arrow_Forward_fav.gif') no-repeat right 0;	
}
.shopButton.withBackArrow {
	background: url('../images/Button_Arrow_Back_Green.gif') 0 50% no-repeat;	
}
.blueButton.withBackArrow {
	background: url('../images/Button_Arrow_Back_Blue.gif') 0 50% no-repeat;	
}
.giftRegistryButton.withBackArrow {
	background: url('../images/Button_Arrow_Back_gr.gif') 0 50% no-repeat;	
}
.favoritesButton.withBackArrow {
	background: url('../images/Button_Arrow_Back_fav.gif') 0 50% no-repeat;	
}
.withCart{
	padding-left: 40px !important;
	background: url('../images/button_cart.gif') 1% 55% no-repeat;
}
#loginForm a.shopButton,
#accountForm a.shopButton {
	margin: 18px 0 0 10px;	
}
.ordertrackingpg #loginForm a.shopButton { margin:0px 5px 5px 14px; }
.ordertrackingpg #orderForm a.shopButton { margin:5px 5px 5px 14px; }

/**************************************************************/
/*progress wheels                                             */
/**************************************************************/

.shopButton.progressWheel {
	background:#AEC569 url(../images/shopButton_progress.gif) no-repeat 0 0;
	padding-left:18px;
}
.shopButton.withArrow.progressWheel {
	background:#AEC569 url(../images/shopButton_progress.gif) no-repeat right 0;
	padding-left:4px;
}
.blueButton.progressWheel {
	background:#94cad8 url(../images/blueButton_progress.gif) no-repeat 0 0;
	padding-left:18px;
}
.blueButton.withArrow.progressWheel {
	background:#94cad8 url(../images/blueButton_progress.gif) no-repeat right 0;
	padding-left:4px;
}
.giftRegistryButton.progressWheel {
	background:#97d0d8 url(../images/giftRegistryButton_progress.gif) no-repeat 0 0;
	padding-left:18px;
}
.giftRegistryButton.withArrow.progressWheel {
	background:#97d0d8 url(../images/giftRegistryButton_progress.gif) no-repeat right 0;
	padding-left:4px;
}
.favoritesButton.progressWheel {
	background:#fab63d url(../images/favoritesButton_progress.gif) no-repeat 0 0;
	padding-left:18px;
}
.favoritesButton.withArrow.progressWheel {
	background:#fab63d url(../images/favoritesButton_progress.gif) no-repeat right 0;
	padding-left:4px;
}

.addFavoritesButton,
.addFavoritesButton:link,
.addFavoritesButton:active,
.addFavoritesButton:visited,
.addGiftRegistryButton,
.addGiftRegistryButton:link,
.addGiftRegistryButton:active,
.addGiftRegistryButton:visited {
	position: relative;
	display: block;
	float: left;
	height: 14px !important;
	line-height: 14px !important;
	color: #666 !important;
	font-size: 11px !important;
	background: none;
	padding: 0 0 0 10px !important;
	margin: 0 10px 0 5px !important;
	font-weight: normal!important;
	text-decoration: none;
}
.addFavoritesButton,
.addFavoritesButton:link,
.addFavoritesButton:active,
.addFavoritesButton:visited {
	background: url('../images/icons/icon_plus_bullet_favorites.gif') 0% 55% no-repeat;
}
.addGiftRegistryButton,
.addGiftRegistryButton:link,
.addGiftRegistryButton:active,
.addGiftRegistryButton:visited {
	background: url('../images/icons/icon_plus_bullet_registry.gif') 0% 55% no-repeat;
}
.addFavoritesButton:hover,
.addGiftRegistryButton:hover {
	text-decoration: none;
}
#content .babyRegistry a.shopButton, 
#content .babyRegistry a.shopButton:link, 
#content .babyRegistry a.shopButton:active, 
#content .babyRegistry a.shopButton:visited, 
#content .babyRegistry a.shopButton:hover {
	margin:5px;
	text-decoration:none; 
}
.hasSubMenuButton,
.hasSubMenuButton:hover {
    background: url( '../images/TopNav_Arrow_Down_DB_Over.gif' ) 95% 55% no-repeat;
    padding-right: 25px !important;
    text-decoration:none !important; 
}

/* == Podcast Buttons == */
.shopButton.podcastBtn span.left { 
	background: url('../images/button_left_podcast.gif') top left no-repeat;
}
.shopButton.podcastBtn span.right { 
	background: url('../images/button_right_podcast.gif') top left no-repeat;
}

/* == Our Story Buttons == */
.shopButton.ourStoryChap2Btn span.left { 
	background: url('../images/button_green_left_CDE1F4.gif') top left no-repeat;
}
.shopButton.ourStoryChap2Btn span.right { 
	background: url('../images/button_green_right_CDE1F4.gif') top left no-repeat;
}
.shopButton.ourStoryChap3Btn span.left { 
	background: url('../images/button_green_left_9EC8EB.gif') top left no-repeat;
}
.shopButton.ourStoryChap3Btn span.right { 
	background: url('../images/button_green_right_9EC8EB.gif') top left no-repeat;
}


/* `Containers
----------------------------------------------------------------------------------------------------*/
/* 960px */
.nineSixty
{
    /* Default Site Width! */
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

/* `Grid defaults
----------------------------------------------------------------------------------------------------*/
.twoForty, .threeHundred, .threeNinety, .fourSeventy, .sevenHundred, .nineFifty, .fiveFifty, .half, .third, .fourth, .fifth, .oneTen, .threeFifths, .twoTwentyFive, .eighty
{
    display: inline;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}
/* `Grid >> Widths
----------------------------------------------------------------------------------------------------*/
.eighty
{
    width: 80px;
    }
.twoTwentyFive
{
    width: 225px;
    margin: 18px 20px 0 0;
}
.twoForty
{
    width: 240px;
}
.threeHundred
{
    width: 288px;
	height:200px;
	border:1px #c0c0c0 solid;
	padding:5px;
}
.threeNinety
{
    width: 400px;		
	
}
.fourSeventy
{
    width: 470px;
}
.fiveFifty
{
    width: 550px;	
}
.sevenHundred
{
    width: 708px;
}
.oneTen
{
    width: 110px;
}
.nineFifty
{
    width: 950px;
}
/* Half, Thirds, Fourths, Fifths */
/* Assume 950px to works with minus 240px for left-navigation (700px + 10px) */
.half
{
    width: 345px;
    margin: 10px 10px 0 0;
}
.third
{
    width: 221px;
    margin: 10px 9px 0 0;
	background-color:#EAEAEA;	
	border:1px solid #d5d5d5;
	
}

.third a {
text-decoration:none;
}

.third a:hover{
text-decoration:none;
}

.fourth
{
    width: 160px;
    margin: 10px 0 0 0;
}
.fifth
{
    width: 132px;
    margin: 10px 0 0 0;
}
.threeFifths
{
    width: 416px;
    margin: 10px 0 0 0;
}
/* `Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/
.alpha {margin-left: 0}
.omega { margin-right: 0}
.eta {
    margin-left: 10px;
    margin-top: 5px
}
.etaHeading {
    margin-left: 20px;
    margin-top: 10px
}
.left15{margin-lefT: 15px}
.theta {
    margin: 0;
    padding: 0
}
.delta {
    border-right: 1px solid #DBDBDB;
    margin: 0 10px 0 0;
    padding: 0 10px 0 0;
    height: 100%
}
.gamma {margin-left: -5px;}
.zeta {margin-top:23px !important;}
.iota{ margin-top: 0 !important}
.kappa{ margin-left: 15px; margin-top: 5px}
.omegaRight {margin-right: 20px}

/* Images */
img{font-size: 10px}
img.imageLeft
{
    /* Float any image to the LEFT and give it some margin */
    font-size: 10px;
    float: left;
    padding: 4px;
    margin: 0px;
    margin-right: 10px;
}
img.imageRight
{
    /* Float any image to the RIGHT and give it some margin */
    font-size: 10px;
    float: right;
    padding: 4px;
    border: 1px solid #ccc;
    margin-bottom: 18px;
    margin-left: 20px;
    margin-top: 3px;
}
img.imageCenter {
    font-size: 10px;
    padding: 0;
    border: 1px solid #ccc;
    margin: 10px auto 10px auto;
    display: block;
    text-align: center;
    width:696px;
}
/* Basic Floats */
.floatRight
{
    /* Float any item to the right */
    float: right;
    margin-left: 20px;
    margin-right: 0;
}
.floatLeft
{
    /* Float any item to the left */
    float: left;
    margin-right: 20px;
    margin-left: 0;
}
/* Absolutely positioned items */
.absBottomRight
{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.absBottomCenter
{
    position: absolute;
    bottom: 40px;
    right: 50px;
}
/* Center inner contents */
.center
{
    text-align: center;
}
/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
html body div.clear, html body span.clear
{
    background: none;
    border: 0;
    clear: both;
    display: block;
    float: none;
    font-size: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
/* In general, .first and .last always have these properties. Use other stylesheets for overrides */
.first {
    margin-left: 0;
}

.last {
    margin-right: 0;	
}

/* http://www.positioniseverything.net/easyclearing.html */
.clearfix:after
{
    clear: both;
    content: '.';
    display: block;
    visibility: hidden;
    height: 0;
}
.clearfix
{
    display: inline-block;
}
/*
* html .clearfix {
	height: 1%;
}
Moved to ie.css
*/
.clearfix
{
    display: block;
}
.breadcrumbHome
{
    width: 950px;
    height: 40px;
    margin: 0;
    /*background: url(/assets/backgrounds/SeasonHPBanner-Example.gif) no-repeat 6px 0;*/
}
.left
{
    position: relative;
    float: left;
}
.right
{
    position: relative;
    float: right;
}
.marginLeft
{
    margin-left: 20px;
}
.marginSmallLeft
{
    margin-left: 10px;
}
.marginRight
{
    margin-right: 20px;
}
.marginBottom
{
    margin-bottom: 10px;
}
.noMargin
{
    margin: 0;
}
.themeIMG
{
    clear: none;
    float: left;
    width: auto;
}

.checkBalance {margin: 0 20px;}

.checkBalance img {
	float:left !important;
}

/* Borders / Lines /Margins
----------------------------------------------------------------------------------------------------*/
.borderTop
{
    border-top: 1px solid #CCCCCC;
}

.borderLeft {
    border-left: 1px solid #CCCCCC;
    margin:0 0 0 10px;
    padding:0 0 0 10px;
}


.marginTop
{
    margin-top: 20px;
}

.noBorder
{
    border: 0 none;
}

.borderLeftGR {
	border-left:1px solid #DBDBDB;
	height:100%;
	margin:0 0 10px 10px;
	padding:0 0 0 20px;
	width:670px;
	float:left;
	clear:none;
}

.borderLeftGR  h1,
.borderLeftGR  h2 {
	text-align:center;
	margin:0;
}

/* ----------- favourites reapeater css --------*/
/* Table styles */
/* ............................................
	Common styles for "line-item" tables:	
	Family SKUs, Favorites, Gift-Registry Registrant
	Gift-Registry Guest, Basket, Receipt
...............................................*/
.lineItems{
    vertical-align: top;
    width: 100%;
    margin: 15px 0 15px 0;
    text-align: left;
    border: 1px solid #eaeaea;
	
}

table.lineItems tbody tr td,
.lineItems th {
    text-align: left;
    vertical-align: top;    
    text-align: left;
    border-left:1px solid #eaeaea;
	padding:5px;
}

.lineItems th {padding: 2px}
table.lineItems tbody tr td{padding: 5px}
table.lineItems tbody tr td.itemButtons {
padding:0;
}

table.lineItems tbody tr td.itemDesc,
table.lineItems tbody tr td.itemPrice,
table.lineItems tbody tr td.itemImage,
table.lineItems tbody tr td.itemPrice,
table.lineItems tbody tr td.itemShipping,
table.lineItems tbody tr td.itemWants,
table.lineItems tbody tr td.itemHas,
table.lineItems tbody tr td.itemQty,
table.lineItems tbody tr td.itemButtons,
table.lineItems tbody tr td.itemAdd 
{
	display:table-cell;
}

#content table.lineItems tbody tr td.itemDesc a,
#content table.lineItems tbody tr td.itemDesc p,
#content table.lineItems tbody tr td p ,
.skuNum, span.lnk_Close a,
table tbody tr td p
{
    color: #666666; 
    font-size:11px;  
    text-decoration:none;
}

#content table.lineItems tbody tr td.itemDesc a,
table tbody tr td .skuInfo .title, 
table tbody tr td .skuInfoNoSwatch .title, span.lnk_Close a{font-weight: bold}

.lineItems th{
    font-size: 14px;
    color: #587692;
    font-weight: bold;
    text-decoration: none;   
    border-top:1px solid #999999;
    color:#587692;
}
}
span.lnk_Close a
{
    font-size: 12px;    
}

span.lnk_Close{ display: block}

.lineItems input.qty{
    margin: 0;
    width: 20px;
}

a.addFavoritesButton, a.addFavoritesButton:link, a.addFavoritesButton:active, a.addFavoritesButton:visited, a.addGiftRegistryButton, a.addGiftRegistryButton:link, a.addGiftRegistryButton:active, a.addGiftRegistryButton:visited {
	font:normal 11px/13px Arial, sans-serif;
	margin:5px 0 0 5px !important;
	padding:0 0 0 10px !important;
	width:125px;
}.itemShipping a {
	font:bold 11px/11px Arial, sans-serif;
	color:#7298BD;
	text-decoration:none;
}
.itemShipping a:hover {text-decoration:none;}
table.lineItems.registry .warning a {
	font:bold 11px/11px Arial, sans-serif;
	text-decoration:none;
    padding: 10px 0 0 0;}
table.lineItems.registry .warning a:hover {text-decoration:none;}
.noBottomBorder{
	border-bottom: 0;	
}
/* ................................... column widths ..............................................*/
.col_13 {
    width: 13px;
}
.col_40 {
    width: 40px;
}
.col_60 {
    width: 60px;
}
.col_70 {
    width: 70px;
}
.col_80 {
    width: 80px;
}
.col_85 {
	width: 85px;	
}
.col_90 {
    width: 90px;
}
.col_110 {
    width: 110px;
}
.col_125 {
    width: 125px;
}
.col_135 {
	width: 135px;	
}
.col_150 {
    width: 150px;
}
.col_160 {
    width: 160px;
}
.col_175 {
	width: 175px;	
}
.col_180 {
    width: 180px;
}
.col_200 {
    width: 200px;
}
.col_250 {
    width: 250px;
}
.col_290 {
	width: 290px;	
}
.col_440
{
    width: 440px;
}

/*
* H1 for category
*/
#content h1.categoryDetailHeader, #content p.categoryDetailHeader {
padding:10px 5px 0px 10px;
text-align:left;
font-weight:bold;
color:#000;
padding-left:15px;
}

.categoryTitle, .categoryDetailHeader {
font-style:normal;
font-weight:normal;
}

h1 {
font-size:18px;
margin:5px 0 4px;
}

h1, h2, h3, h4, h5, h6 {
color:#000;
/*color:#DCE7F6;*/
font-size:14px;
}

.messages {
overflow:hidden;
width:100%;
}
.messages, .messages ul {
list-style-image:none !important;
list-style-position:outside !important;
list-style-type:none !important;
margin:0 !important;
padding:0 !important;
}
.messages li {
margin:0 0 10px;
}

.note-msg, .notice-msg {
background-color:#FAFAEC;
background-image:url(../images/note_msg_icon.gif);
border-color:#FCD344;
color:#3D6611;
}

.error-msg, .success-msg, .note-msg, .notice-msg {
background-position:10px 10px !important;
background-repeat:no-repeat !important;
border-style:solid !important;
border-width:1px !important;
font-size:10px !important;
font-weight:bold !important;
min-height:24px !important;
padding:8px 8px 8px 32px !important;
}
.error-msg, .success-msg, .note-msg, .notice-msg {
border-style:solid !important;
font-size:10px !important;
font-weight:bold !important;
}

.success-msg {
background-color:#EFF5EA;
background-image:url(../images/success_msg_icon.gif);
border-color:#446423;
color:#3D6611;
}

#content .checkoutInfo {
color:#666666;
float:right;
font-size:11px;
text-align:right;
margin-top:10px;
}
#content .checkoutInfo a{
color:#666666;
float:right;
font-size:11px;
text-align:right;
}

#divBasket {
margin-bottom:10px;
}
#divBasket {
padding:0 0 10px;
}

.infoText {
color:#000;
font-weight:bold;
}

table tbody tr {
/*border-top:1px solid #666666;*/
}

.lineItems th {
border-top:1px solid #eaeaea;
color:#000;
font-size:12px;
font-weight:bold;
text-decoration:none;
background-color:#f8f8f8;
}
.lineItems th {
padding:5px;

}

table.lineItems tbody tr td, .lineItems th {
border-bottom:1px solid #999999;
text-align:left;
vertical-align:top;
}

table tbody tr.promotionCode td, .receiptHeading th {
background-color:#eaeaea;
border-bottom:1px solid #c0c0c0;
border-top:1px solid #c0c0c0;
margin:0;
padding-left:15px;
}

.borderClass {
margin:0 0 0px;
padding:15px;
width:340px;
text-align:left;
color:#fff;
font-weight:bold;
float:right;
font-size:14px;
padding-bottom:0px;
padding-top:10px;
}

.opc {
border-bottom:1px solid #edf6d5;
position:relative;
}

.col-right {
float:left;
width:270px;
text-align:left;
margin-top:10px;
margin-bottom:10px;
}

.col-main {
float:left;
width:690px;
text-align:left;
}

.side-col .block-progress .block-title {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#F9F3E3 none repeat scroll 0 0;
border:1px solid #E5E4E4;
padding:14px 5px 12px 15px;
}
.side-col .block-progress .block-title h3{
color:#000;
}
.opc .active .step-title {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#F9F3E3 none repeat scroll 0 0;
cursor:default;
overflow:hidden;
}
/*.opc .active .step-title h3{ color:#fff;}*/
.opc .active .step-title .number {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
border:medium none;
color:#fff;
float:left;
font-size:12px;
font-weight:bold;
line-height:18px;
margin-right:10px;
padding:0 6px;
}

.opc .step-title {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFFF none repeat scroll 0 0;
border:1px solid #eeeeee;
overflow:hidden;
padding:8px 0 8px 15px;
}

.opc .step-title .number {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
border:medium none;
color:#fff;
background:#D23A58 none repeat scroll 0 0;
float:left;
font-size:12px;
font-weight:bold;
line-height:18px;
margin-right:10px;
padding:0 6px;
}
.opc .active .step {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FBFAF6 none repeat scroll 0 0;
border:1px solid #eeeeee;
padding:15px;

/*position:relative;*/
}
.side-col .block-progress .block-content {
/*border-color:-moz-use-text-color #E5E4E4 #E5E4E4;
border-style:none solid solid;
border-width:medium 1px 1px;*/
border: 1px solid #E5E4E4;
padding:11px 11px 20px;
}

.side-col .block-progress dl {
/*border-color:-moz-use-text-color #E8E6E6 #E8E6E6;
border-style:none solid solid;
border-width:medium 1px 1px;*/
border:1px solid #E8E6E6;

}

.side-col .block-progress dt {
border-top:1px solid #E8E6E6;
color:#595959;
font-size:12px;
font-weight:bold;
line-height:normal;
padding:10px 10px 7px 12px;
}

.side-col .block-progress dl {
border-style:none solid solid;
}

.block-progress dd.complete {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FBFAF6 none repeat scroll 0 0;
border-bottom:1px solid #E8E6E6;
font-weight:bold;
padding:10px 10px 7px 30px;
font-size:12px;
}
.form-button, .form-button-alt {
background:#D23A58 none repeat scroll 0 0;
border:1px solid #D23A58;
color:#FFFFFF;
cursor:pointer;
font-family:arial,sans-serif !important;
font-size:12px !important;
font-size-adjust:none !important;
font-stretch:normal !important;
font-style:normal !important;
font-variant:normal !important;
font-weight:bold !important;
line-height:normal !important;
overflow:visible;
padding:1px 8px;
text-align:center;
vertical-align:middle;
width:auto;
}

.opc h3, .opc h4 {
margin-bottom:5px;
}
.form-list {
margin:10px 0;
}
.form-list li {
margin:0 0 5px;
}

#checkoutSteps label {
color:#2E2E2E;
padding-bottom:3px;
padding-right:20px;
}
.form-list label {
font-weight:bold;
}
.disc {
list-style-image:none;
list-style-position:outside;
list-style-type:disc;
margin-bottom:10px;
}
.disc li {
margin-left:20px;
}
#checkoutSteps input, #checkoutSteps select {
margin-top:3px;
}
.form-list input.input-text, .form-list textarea {
width:250px;
}
input.input-text, textarea {
padding:4px;
}
.button-set {
clear:both;
margin:5px 0 0;
padding:5px 5px 5px 0;
}
#checkoutSteps #opc-billing .input-box input, #checkoutSteps #opc-shipping .input-box input, #checkoutSteps #opc-billing .input-box select, #checkoutSteps #opc-shipping .input-box select {
width:200px !important;
}
#co-billing-form input {
border-color:#80807B #D6CDC6 #D6CDC6 #80807B;
border-style:solid;
border-width:2px 1px 1px 2px;
padding:1px;
}
#checkoutSteps #opc-billing .input-box input, #checkoutSteps #opc-shipping .input-box input, #checkoutSteps #opc-billing .input-box select, #checkoutSteps #opc-shipping .input-box select {
width:200px !important;
}
#co-billing-form input {
border-color:#80807B #D6CDC6 #D6CDC6 #80807B;
border-style:solid;
border-width:2px 1px 1px 2px;
padding:1px;
}
#checkoutSteps input, #checkoutSteps select {
margin-top:3px;
font-size:12px;
}
#grid_product {
margin-bottom:10px;
margin-top:10px;
overflow:hidden;
width:940px;
}
#grid_product ul {
margin:0;
overflow:hidden;
text-align:left;
width:940px;
}
#grid_product li {
display:inline;
float:left;
margin:0 10px 0 0;
padding:0;
text-align:left;
width:179px;
}
#grid_product .product {
background-image:url(../images/product_box_midbg.png);
background-repeat:repeat-y;
padding:5px 15px;
text-align:left;
width:149px;
}
#grid_product .top_img{ height:12px;}
#wrapper{ width:962px; margin:auto;}

/********************** Pager *******************/
table.pager select,
table.view-by select { margin:0 3px; font-size:.95em; }
table.pager select { width:50px; }
table.view-by td.sort-by { text-align:right; padding-right:44px; }
table.view-by select { width:85px; }
table.pager, table.view-by {
    width:100%;    
    font-size:12px;	
    }
table.pager td {
    width:32%;
    border-top:1px solid #eee;
    padding:4px 8px;
    text-align:left;
    }
table.pager td.pages { padding:4px 0; white-space:nowrap; text-align:center; }
table.pager ol, table.pager li {
    display:inline;
    }
table.pager li { padding:0 2px; }
table.view-by td {
    width:33%;
    border-top:1px solid #e2e2e2;
    padding:4px 8px;
    vertical-align:middle;
    }
.a-right {
text-align:right !important;
}
/********************** Pager *******************/
#left_column{
/*background: transparent url(../images/LHS_bg.png) repeat-y scroll left top; 
-moz-background-clip: border; 
-moz-background-origin: padding;
-moz-background-inline-policy: continuous;*/
background-color:#eaeaea;
font-size:12px;
min-height:550px;
border:1px solid #d5d5d5;
}
#left_column h3{
color:#D23A58;
font-size:14px;
border-bottom:1px solid #D23A58;
padding-bottom:5px;
}
.price{
color:#D23A58;
font-size:12px;
font-weight:normal;
}
.price em{
color:#000000;
font-style:normal
}
.price a{
text-decoration:none;
}
.product-shop{
width:300px;float:right;
}
.product-shop h5{
font-size:14px;
font-weight:bold;
text-decoration:none;
padding:0px;
margin:0px;
color:#000;
}
.product-shop h5 a{
font-size:14px;
font-weight:bold;
text-decoration:none;
padding:0px;
margin:0px;
color:#000;
}
.advanced-search {
background:#FBFAF6 none repeat scroll 0 0;
border:1px solid #BBAFA0;
margin:20px 0;
padding:22px 25px 12px;
text-align:left;
}
.advanced-search .legend {
background:#F9F3E3 none repeat scroll 0 0;
border:1px solid #F19900;
color:#E76200;
float:left;
font-size:12px;
font-weight:bold;
margin-top:-33px;
padding:0 8px;
}
.advanced-search li {
margin-bottom:5px;
}
#form-validate label {
color:#2E2E2E;
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
font-weight:bold;
line-height:normal;
}
.advanced-search li label {
float:left;
width:150px;
}
.advanced-search .input-text {
width:250px;
height:15px;
font-size:12px;
}
.range input {
width:70px !important;
}
.v-middle {
vertical-align:middle;
}
.listing-type-list .listing-item {
border-top:1px solid #D9DDE3;
padding:12px 10px;
}
span.themewrap {
-moz-border-radius:5px;
-webkit-border-radius: 5px;
background:#eeeeee none repeat scroll 0 0;
display:inline-block;
padding:3px;
}
#top_frame{
background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); padding-top: 7px; padding-bottom: 7px; font-size: 14px;
}
#frame{
width:962px;
overflow:hidden;
margin:auto
}
#frame .logo1{
float:left;
text-align:left;
padding-left:12px;
}
#frame .theme{
float:right;
text-align:right;
padding-right:12px;
}
