/* /css/navigation.css
 * Navigation Styles
 */

/* Header Navigation */

/* Top Navigation */


/*
#nav {
background-image:url(../images/menubg.gif);
background-repeat:no-repeat;
font-size:14px;
height:43px;
margin-top:6px;
padding-left:5px;
}
#nav li {
float:left;
padding:12px 10px;
}
#nav li {
background:transparent url(../images/spacer.gif) no-repeat scroll right center;
position:relative;
text-align:left;
}
#nav span {
cursor:pointer;
display:block;
white-space:nowrap;
}
#nav a {
color:#FFFFFF;
float:left;
}
#nav a, #nav a:hover {
display:block;
line-height:1.3em;
text-decoration:none;
}
#nav ul {
background:#050606 none repeat scroll 0 0;
border:1px solid #050606;
font-size:12px;
left:-10000px;
padding:3px 8px;
position:absolute;
top:42px;
width:15em;
}
#nav li ul span {
white-space:normal;
}
#nav ul li a {
font-weight:normal !important;
}
#nav ul li, #nav ul li.active, #nav ul li.over {
background:transparent none repeat scroll 0 0;
border:medium none;
float:none;
margin:0;
padding:0 0 1px;
text-transform:none;
}
#nav li.over a, #nav a:hover { color:#8BBE22;}
#nav li:over{ z-index:999;}
#nav ul li a {
color:#FFFFFF !important;
padding:3px 0;
}
#nav ul a, #nav ul a:hover {
background:transparent none repeat scroll 0 0;
float:none;
padding:0;
}*/

#nav {
background-image:url(../images/menu_bg.png);
background-repeat:no-repeat;
font-size:14px;
height:43px;
padding-left:5px;
}
#nav li {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/spacer.gif) no-repeat scroll right center;
position:relative;
text-align:left;
}
#nav li.over {
z-index:999;
}
#nav a, #nav a:hover {
display:block;
line-height:1.3em;
text-decoration:none;
}
#nav span {
cursor:pointer;
display:block;
white-space:nowrap;
}
#nav li ul span {
white-space:normal;
}
#nav li {
float:left;
padding:12px 10px;
margin-top:2px;
}
#nav li.active a {
color:#d23a58;
}
#nav a {
color:#FFFFFF;
float:left;
}
#nav li.over a, #nav a:hover {
color:#d23a58;
}
#nav li.over, #nav li.active {
}
#nav ul li, #nav ul li.active, #nav ul li.over {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent none repeat scroll 0 0;
border:medium none;
float:none;
margin:0;
padding:0 0 1px;
text-transform:none;
}
#nav ul li.parent {
}
#nav ul li.last {
padding-bottom:0;
}
#nav ul li.active {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent none repeat scroll 0 0;
border:0 none;
margin:0;
}
#nav ul a, #nav ul a:hover {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent none repeat scroll 0 0;
float:none;
padding:0;
}
#nav ul li a {
font-weight:normal !important;
}
#nav ul {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#050606 none repeat scroll 0 0;
border:1px solid #050606;
font-size:12px;
left:-10000px;
padding:3px 8px;
position:absolute;
top:38px;
width:15em;
}
#nav li.over > ul {
left:-1px;
}
#nav li.over > ul li.over > ul {
left:100px;
}
#nav li.over ul ul {
left:-10000px;
}
#nav ul li a {
color:#FFFFFF !important;
padding:3px 0;
}
#nav ul li a:hover {
color:#d23a58 !important;
padding:3px 0;
}
#nav ul ul {
top:5px;
}
#side-nav {
padding:0 3px 10px;
}
#side-nav li a:link, #side-nav li a:visited, #side-nav li ul li a:link, #side-nav li ul li a:visited, #side-nav li ul li ul li a:link, #side-nav li ul li ul li a:visited {
color:#000000;
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
text-decoration:none;
}
#side-nav li a:hover, #side-nav li.active a, #side-nav li ul li a:hover, #side-nav li ul li.active a, #side-nav li ul li ul li a:hover, #side-nav li ul li ul li.active a {
color:#93BE13;
text-decoration:none;
}
#side-nav li ul li a:link, #side-nav li ul li a:visited, #side-nav li ul li ul li a:link, #side-nav li ul li ul li a:visited {
font-weight:normal;
line-height:16px;
text-decoration:none;
}
#side-nav li a:link, #side-nav li a:visited {
font-weight:bold;
line-height:20px;
}
#side-nav li ul li a:hover, #side-nav li ul li ul li a:hover {
text-decoration:none;
}
#side-nav ul.level0 {
padding-bottom:3px;
padding-left:10px;
}
#side-nav ul.level0 a {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/bullet_small.gif) no-repeat scroll left center;
padding-left:10px;
}
#side-nav ul.level1 {
padding-left:25px;
}
#side-nav ul.level2 {
list-style-type:circle;
}
#side-nav ul.level3 {
list-style-type:circle;
}
#side-nav li ul {
margin:0 0 0 0;
}