
/* `Containers
----------------------------------------------------------------------------------------------------*/
/* 960px */
.nineSixty
{
    /* Default Site Width! */
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

/* `Grid defaults
----------------------------------------------------------------------------------------------------*/
.twoForty, .threeHundred, .threeNinety, .fourSeventy, .sevenHundred, .nineFifty, .fiveFifty, .half, .third, .fourth, .fifth, .oneTen, .threeFifths, .twoTwentyFive, .eighty
{
    display: inline;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}
/* `Grid >> Widths
----------------------------------------------------------------------------------------------------*/
.eighty
{
    width: 80px;
    }
.twoTwentyFive
{
    width: 225px;
    margin: 18px 20px 0 0;
}
.twoForty
{
    width: 240px;
}
.threeHundred
{
    width: 300px;
}
.threeNinety
{
    width: 390px;
}
.fourSeventy
{
    width: 470px;
}
.fiveFifty
{
    width: 550px;
}
.sevenHundred
{
    width: 700px;
}
.oneTen
{
    width: 110px;
}
.nineFifty
{
    width: 950px;
}
/* Half, Thirds, Fourths, Fifths */
/* Assume 950px to works with minus 240px for left-navigation (700px + 10px) */
.half
{
    width: 345px;
    margin: 10px 10px 0 0;
}
.third
{
    width: 224px;
    margin: 10px 0 0 0;
}
.fourth
{
    width: 165px;
    margin: 10px 0 0 0;
}
.fifth
{
    width: 132px;
    margin: 10px 0 0 0;
}
.threeFifths
{
    width: 416px;
    margin: 10px 0 0 0;
}
/* `Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/
.alpha {margin-left: 0}
.omega { margin-right: 0}
.eta {
    margin-left: 10px;
    margin-top: 5px
}
.etaHeading {
    margin-left: 20px;
    margin-top: 10px
}
.left15{margin-lefT: 15px}
.theta {
    margin: 0;
    padding: 0
}
.delta {
    border-right: 1px solid #DBDBDB;
    margin: 0 10px 0 0;
    padding: 0 10px 0 0;
    height: 100%
}
.gamma {margin-left: -5px;}
.zeta {margin-top:23px !important;}
.iota{ margin-top: 0 !important}
.kappa{ margin-left: 15px; margin-top: 5px}
.omegaRight {margin-right: 20px}

/* Images */
img{font-size: 10px}
img.imageLeft
{
    /* Float any image to the LEFT and give it some margin */
    font-size: 10px;
    float: left;
    padding: 4px;
    margin: 0px;
    margin-right: 10px;
}
img.imageRight
{
    /* Float any image to the RIGHT and give it some margin */
    font-size: 10px;
    float: right;
    padding: 4px;
    border: 1px solid #ccc;
    margin-bottom: 18px;
    margin-left: 20px;
    margin-top: 3px;
}
img.imageCenter {
    font-size: 10px;
    padding: 0;
    border: 1px solid #ccc;
    margin: 10px auto 10px auto;
    display: block;
    text-align: center;
    width:696px;
}
/* Basic Floats */
.floatRight
{
    /* Float any item to the right */
    float: right;
    margin-left: 20px;
    margin-right: 0;
}
.floatLeft
{
    /* Float any item to the left */
    float: left;
    margin-right: 20px;
    margin-left: 0;
}
/* Absolutely positioned items */
.absBottomRight
{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.absBottomCenter
{
    position: absolute;
    bottom: 40px;
    right: 50px;
}
/* Center inner contents */
.center
{
    text-align: center;
}
/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
html body div.clear, html body span.clear
{
    background: none;
    border: 0;
    clear: both;
    display: block;
    float: none;
    font-size: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
/* In general, .first and .last always have these properties. Use other stylesheets for overrides */
.first {
    margin-left: 0;
}

.last {
    margin-right: 0;
}

/* http://www.positioniseverything.net/easyclearing.html */
.clearfix:after
{
    clear: both;
    content: '.';
    display: block;
    visibility: hidden;
    height: 0;
}
.clearfix
{
    display: inline-block;
}
/*
* html .clearfix {
	height: 1%;
}
Moved to ie.css
*/
.clearfix
{
    display: block;
}
.breadcrumbHome
{
    width: 950px;
    height: 40px;
    margin: 0;
    /*background: url(/assets/backgrounds/SeasonHPBanner-Example.gif) no-repeat 6px 0;*/
}
.left
{
    position: relative;
    float: left;
}
.right
{
    position: relative;
    float: right;
}
.marginLeft
{
    margin-left: 20px;
}
.marginSmallLeft
{
    margin-left: 10px;
}
.marginRight
{
    margin-right: 20px;
}
.marginBottom
{
    margin-bottom: 10px;
}
.noMargin
{
    margin: 0;
}
.themeIMG
{
    clear: none;
    float: left;
    width: auto;
}

.checkBalance {margin: 0 20px;}

.checkBalance img {
	float:left !important;
}

/* Borders / Lines /Margins
----------------------------------------------------------------------------------------------------*/
.borderTop
{
    border-top: 1px solid #CCCCCC;
}

.borderLeft {
    border-left: 1px solid #CCCCCC;
    margin:0 0 0 10px;
    padding:0 0 0 10px;
}


.marginTop
{
    margin-top: 20px;
}

.noBorder
{
    border: 0 none;
}

.borderLeftGR {
	border-left:1px solid #DBDBDB;
	height:100%;
	margin:0 0 10px 10px;
	padding:0 0 0 20px;
	width:670px;
	float:left;
	clear:none;
}

.borderLeftGR  h1,
.borderLeftGR  h2 {
	text-align:center;
	margin:0;
}

/* ----------- favourites reapeater css --------*/
/* Table styles */
/* ............................................
	Common styles for "line-item" tables:	
	Family SKUs, Favorites, Gift-Registry Registrant
	Gift-Registry Guest, Basket, Receipt
...............................................*/
.lineItems{
    vertical-align: top;
    width: 100%;
    margin: 15px 0 15px 0;
    text-align: left;
    border-top: 1px solid #999;
}

table.lineItems tbody tr td,
.lineItems th {
    text-align: left;
    vertical-align: top;    
    text-align: left;
    border-bottom:1px solid #999;
}

.lineItems th {padding: 2px}
table.lineItems tbody tr td{padding: 5px}
table.lineItems tbody tr td.itemButtons {
padding:0;
}

table.lineItems tbody tr td.itemDesc,
table.lineItems tbody tr td.itemPrice,
table.lineItems tbody tr td.itemImage,
table.lineItems tbody tr td.itemPrice,
table.lineItems tbody tr td.itemShipping,
table.lineItems tbody tr td.itemWants,
table.lineItems tbody tr td.itemHas,
table.lineItems tbody tr td.itemQty,
table.lineItems tbody tr td.itemButtons,
table.lineItems tbody tr td.itemAdd 
{
	display:table-cell;
}

#content table.lineItems tbody tr td.itemDesc a,
#content table.lineItems tbody tr td.itemDesc p,
#content table.lineItems tbody tr td p ,
.skuNum, span.lnk_Close a,
table tbody tr td p
{
    color: #666666; 
    font-size:11px;  
    text-decoration:none;
}

#content table.lineItems tbody tr td.itemDesc a,
table tbody tr td .skuInfo .title, 
table tbody tr td .skuInfoNoSwatch .title, span.lnk_Close a{font-weight: bold}

.lineItems th{
    font-size: 14px;
    color: #587692;
    font-weight: bold;
    text-decoration: none;   
    border-top:1px solid #999999;
    color:#587692;
}
}
span.lnk_Close a
{
    font-size: 12px;    
}

span.lnk_Close{ display: block}

.lineItems input.qty{
    margin: 0;
    width: 20px;
}

a.addFavoritesButton, a.addFavoritesButton:link, a.addFavoritesButton:active, a.addFavoritesButton:visited, a.addGiftRegistryButton, a.addGiftRegistryButton:link, a.addGiftRegistryButton:active, a.addGiftRegistryButton:visited {
	font:normal 11px/13px Arial, sans-serif;
	margin:5px 0 0 5px !important;
	padding:0 0 0 10px !important;
	width:125px;
}.itemShipping a {
	font:bold 11px/11px Arial, sans-serif;
	color:#7298BD;
	text-decoration:none;
}
.itemShipping a:hover {text-decoration:underline;}
table.lineItems.registry .warning a {
	font:bold 11px/11px Arial, sans-serif;
	text-decoration:none;
    padding: 10px 0 0 0;}
table.lineItems.registry .warning a:hover {text-decoration:underline;}
.noBottomBorder{
	border-bottom: 0;	
}
/* ................................... column widths ..............................................*/
.col_13 {
    width: 13px;
}
.col_40 {
    width: 40px;
}
.col_60 {
    width: 60px;
}
.col_70 {
    width: 70px;
}
.col_80 {
    width: 80px;
}
.col_85 {
	width: 85px;	
}
.col_90 {
    width: 90px;
}
.col_110 {
    width: 110px;
}
.col_125 {
    width: 125px;
}
.col_135 {
	width: 135px;	
}
.col_150 {
    width: 150px;
}
.col_160 {
    width: 160px;
}
.col_175 {
	width: 175px;	
}
.col_180 {
    width: 180px;
}
.col_200 {
    width: 200px;
}
.col_250 {
    width: 250px;
}
.col_290 {
	width: 290px;	
}
.col_440
{
    width: 440px;
}


